/* * {
  box-sizing: 100vh;
} */

/* body {
  font-size: 14px;
} */

.body {
  /* width: 100%;
  height: 1024px; */
  height: 100vh;
  width: 100vw;
  background: rgba(24, 24, 27, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow-X: hidden;
}

.btn {
  margin-top: 66px;
  margin-left: 250px;
  background: rgba(24, 24, 27, 1);
  color: white;
  border: 1px solid white;
  width: 206.52px;
  height: 37.36px;
  border-radius: 3px;
  cursor: pointer;
  
  /* background-image: linear-gradient(to right, #4BFFF4 30%, rgba(24, 24, 27, 1) ); */
}
.btn:hover
{
  transition: 2s;
  background-image: linear-gradient(to right, #4BFFF4 1%, rgba(24, 24, 27, 1) );
}

.rtimg {
  width: 310.73px;
  height: 460.57px;
  margin-left: 500px;
  margin-top: 100px;
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(20px 20px 20px green);
}

.head2
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

.img2
{
  margin-top: 20px;
  height: 370px;
  width: 260px;
  filter: drop-shadow(15px 4px 22px rgba(56, 177, 61, 0.54));
  border-radius: 20px;
  margin-left: 270px;
}

.cont
{
  color: white;
  width: 709px;
height: 350px;
left: 585px;
top: 1181px;
font-size: 30px;
line-height: 45px;
align-items: center;
letter-spacing: 1px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 90px;
margin-left: 98px;
}

.headCC
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

.imgl1
{
  margin-top: 70px;
  height: 130px;
  width: 247px;
  background: url(png-transparent-swiggy-hd-logo - Copy.png);
}

